@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

.form-floating {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success {
  border-color: var(--success-color);
}

.form-control.error {
  border-color: var(--error-color);
}

.form-floating small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-floating.error small {
  visibility: visible;
}
