<header>
  <div class="top-bar">
    <div class="location"><span>📍</span> 143 Cửa hàng khắp cả nước</div>
    <div class="order"><span>📞</span> Đặt hàng: 1800.6936</div>
  </div>
  <nav class="navbar">
    <div class="logo">
      <a href="#">
        <img
          src="./assets/public/images/logothecoffeehouse.webp"
          alt="The Coffee House"
        />
      </a>
    </div>
    <ul class="nav-links">
      <li routerLink="/home"><a href="#">Cà phê</a></li>
      <li><a href="#">Trà</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Chuyển Nhà</a></li>
      <li><a href="#">Cảm hứng CloudFee</a></li>
      <li><a href="#">Cửa hàng</a></li>
      <li><a href="#">Tuyển dụng</a></li>
    </ul>
  </nav>
</header>
